*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
header h1 {
  margin: 0px 3em;
  font-size: 1.5em;
  color: grey;

}
.overlay{
  background-color: rgba(0,0,0);
  z-index: 11111;
}
#main-container{
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}
.employee-div{
  display: flex;
  align-items: center;
  width: 32%;
  padding: 25px;
  border: 1px lightgrey solid;
  margin:5px;
  line-height: 5px;
  cursor: pointer;
  transition: .5s;
}
.employee-div:hover{
  background-color: #242930;
  box-shadow: .5px 1.5px 1px .5px grey;
  color: white;
}
.employee-image,
.modal-image{
  margin: 15px;
  border-radius: 50%;
}
.employee-name,
.modal-name{
  font-weight: bold;
}
.employee-name::first-letter,
.modal-name::first-letter{
  text-transform: uppercase;
}
.modal-city{
  border-bottom: 1px lightgrey solid;
  padding-bottom: 1em;
}

/* Media Queries */
